main {
  width: 400px;
  margin: 0 auto;
  /* height: 200px; */
}
.slider{
     padding: -10px;
    background-color: blueviolet;
}
/* .tns-outer  button{
        border-radius: 50px;
} */
.tns-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 270px;
  z-index: 500;
  gap: 310px;
}
.tns-nav {
  position: absolute;
  margin:  35%  0 0 125px;
  z-index: 500;
}
